apiVersion: v1
clusters:
- cluster:
    server: ${eks_endpoint}
    certificate-authority-data: ${eks_root_ca}
  name: ${eks_name}
contexts:
- context:
    cluster: ${eks_name}
    user: aws
  name: aws
current-context: aws
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: aws
      args:
        - "eks"
        - "get-token"
        - "--cluster-name"
        - "${eks_name}"
      env:
        - name: AWS_PROFILE
          value: "default"
        - name: AWS_DEFAULT_REGION
          value: "${eks_region}"
